body {
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.3), rgba(255, 255, 0, 0.3));


    background-size: cover;
    opacity: 1;
    background-color: #f2f2f2;
}


p {
    font-size: 18px;
    color: black;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-family: Franklin Gothic Medium;
}

.centered {
    text-align: center;
    margin-top: 260px;
    padding-top: 260px;
    font-family: Franklin Gothic Medium;
    font-weight: bolder;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-size: large;
    color: #666;
    text-decoration: none;
    font-family: Franklin Gothic Medium;
}

nav a:hover {
    color: #666;
    border: 1px solid orange;
    background-color: orange;
    border-radius: 70px;
}

.email {
    color: red;
}

.email:hover {
    color: purple;
}


